.liste-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  
  }
  
  .list-inline {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
  
  .list-inline-item {
    margin: 5px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .list-inline-item:hover {
    transform: scale(1.1);
  }
  
  .detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .detail-container h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  img {
    max-width: 100%;
    height: 500px;
    margin-top: 10px;
  }
  
  .lead {
    font-size: 24px;
    font-weight: 500;
    color: black;
  }
  