<header>
    <div>
        <a routerLink="/Accueil">
            <div>
                <h5>
                    Accueil
                </h5>
            </div>
        </a>
        <a routerLink="/ListeFilm">
            <div>
                <h5>
                    Liste
                </h5>
            </div>
        </a>
        <a routerLink="/Gestion">
            <div>
                <h5>
                    Gestion
                </h5>
            </div>
        </a>
    </div>
</header>