<ul class="list-group" *ngIf="!isFormEmpty ; else elseBlock">
    <li class="list-group-item">Prénom : {{formHistorical.prenom}}</li>
    <li class="list-group-item">Nom : {{formHistorical.nom}}</li>
    <li *ngIf="formHistorical.age"class="list-group-item">Age : {{formHistorical.age}}</li>
    <li *ngIf="formHistorical.email" class="list-group-item">Email : {{formHistorical.email}}</li>
    <li class="list-group-item">Commentaire : {{formHistorical.commentaire}}</li>
</ul>
<ng-template #elseBlock>
<app-page404>
</app-page404>
</ng-template>
